* {
    box-sizing: border-box;
    
    /* margin: 0; */
    /* padding: 0; */
}

#projectDetail {
    /* border: 1px solid green; */
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    min-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative; /* anchor for absolute children project-meta*/
    align-items: start;
}

#projectDetail > h1, 
#projectDetail > h2, 
#projectDetail > h3, 
#projectDetail > h4, 
#projectDetail > h5 {
    grid-column: 1 / span 4;
    margin-bottom: 0.2rem;
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0.2rem;
}
#projectDetail hr {
    grid-column: 1 / span 4;
    border: none;
    height: 1px;
    width: 100%;
    background-color: #929292;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
#projectDetail .desc {
    grid-column: 1 / span 4;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
    text-align: justify;
    border: 1px dotted grey;
    background-color: rgb(241, 241, 241);
}
.yarnMetrics,
.yarnMetricsWarp, 
.yarnMetricsWeft {
    display: grid;
    gap: 1rem;
}  
.yarnMetrics, 
.yarnMetricsWarp, 
.yarnMetricsWeft {
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid #ccc;
    margin: 0 0.3rem;
    position: relative;
    padding: 24px 16px 0px;    
}
.yarnMetrics h2,
.yarnMetricsWarp h2, 
.yarnMetricsWeft h2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0 8px;
    background: #fff; /* match page background */
    font-size: 1.2rem;
    z-index: 10;
}
#warpMetricsGrid {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}
.yarnMetrics p,
.yarnMetricsWarp p, 
.yarnMetricsWeft p,
#warpMetricsGrid p {
    margin: 0.1rem;
}
.span2 {
    grid-column: span 2;
    text-align: start;
}
.span3 {
    grid-column: span 3;
}
.span4 {
    grid-column: span 4;
}
.col1 {
    grid-column: 1/2;
}
.col2   {
    grid-column: 2/3;
}
.col3 {
    grid-column: 3/4;
}
.col4 {
    grid-column: 4/5;
}
#warpMetricsGrid p.opt {
    border: 1px solid black;
    border-width: 0 1px 1px 0;
    border-radius: 0 0 0.5rem;
    box-shadow: 2px 2px 4px rgba(148, 148, 148, 0.2);
}
.optHalf {
    width: 3rem;
}
.optLong {
    max-width: 100%;
    width: 30rem;
    margin-left: 1rem;
}
.optDouble {
    max-width: 100%;
    width: 8rem;
    margin:auto 0.2rem;
    padding-left: 0.2rem;
}
select.optDouble, .createForm textarea, input  {
    font-family: Rubik, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1rem;
}
.yarnCalculations {
    grid-column: 1 / span 2;
    padding: 1rem 0.5rem;
}
.yarnCalculations p.span2 {
    text-align: unset;    
}
 .projectMeta, .projectMetaLink {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    width: 200px;
    font-size: 0.85rem;
    color: white;
    background-color: #797979;
    border-radius: 1rem 0 1rem 1rem;
    z-index: 1000;
    padding-bottom: 0.5rem;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
 }
 .projectMetaLink {
    width: 100px;
    height: 2rem;
    text-align: center;
    line-height: 2rem;
 }

.btnWarpingToggle, .btnWarpingToggleInactive {
    padding: 4px 8px;
    border: 1px solid #000;
    cursor: pointer;
    margin-bottom: auto;
    background: #fff;
    box-shadow: unset;
}
.btnWarpingToggleInactive {
    background: #000;
    color: #fff;
    margin-bottom: auto;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}
#updateMetrics {
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.updateMetricsGrid input {
    border-width: 1px;
    border-radius: 0.2rem;
    background-color: #eeeeee
}
.submitBtn {
    margin-top: 0.3em;
    margin-left: 0.3rem;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    border-width: 1px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    padding: 0.1rem;
    font-size: 0.8rem;
}
.submitBtn:disabled {
  /* opacity: 0.8; */
  box-shadow: unset;
  cursor: not-allowed;
}
.updateInfoContainer form {
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 0.5rem;}
.updateInfoContainer .submitBtn {
    padding: 0.1rem 0.3rem;
}
.updateInput {
    width: 3rem;
    height: 1.8rem;
    margin: 0 auto;
}
.updateNameInput {
    border-width: 0;
}
.updateDescInput {
    border-width: 0;
    width: 100%;
    height: 4rem;
    font-family: "Tinos", serif;
    font-size: 1rem;
    padding: 0.2rem;
    resize: vertical;
}
.updateNameInput {
    font-family: "Tinos", serif;
    font-size: 1.5rem;
    width: 100%;
    font-weight: 700;
    padding: 0.2rem;
}
.updateInfoContainer {
    grid-column: 1 / span 4;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 0.3rem;
}
.updateInfoGrid{
    grid-column: 1 / 2;
}
.updateInfoInput {
    height: 2rem;
    padding: 0.2rem;
}
p.italics {
    font-style: italic;
}
.infoNote {
    font-size: 0.9rem;
    font-style: italic;
    color: #555;
    margin-top: 0.2rem;
}
.infoNote:before {
    content: "ℹ️ ";
}
.error {
    font-size: 0.8rem;
    color: red;
}
.warpingHelp {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.2em;
    align-items: start;
}
.warpingBoxesBox {
    grid-row: 1 / span 2;
}
.warpingBoxesToggle {
    display: flex; 
    gap: 0.5rem;
    margin-bottom: 1rem;
    padding-top: 1rem; 
}
.warpChainsGrid {
    grid-column: 2 / 3;
    display: inline-block;
}
.chainControl input {
    max-width: 3.5rem;
    text-align:right;
}
.chainCount {
    display: inline-block;
    font-style: italic;
}
.chainCount input {
    max-width: 3.5rem;
    line-height: 1.5rem;
    margin: 0 0.3rem;
}
